@import "variables";

@mixin set-x-position() {
  transform: translateX(0px);
  opacity: 1;
}

@mixin set-y-position() {
  transform: translateY(0px);
  opacity: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  color: $text-color;
}

nav {
  z-index: 1;
  height: 5rem;
  position: fixed;
  width: 100%;

  & ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: end;
    align-items: center;

    & li {
      margin-right: 5rem;
      font-size: 1rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      border-bottom: 3px solid $accent-color;
      opacity: 0;
      transform: translateX(-50px);
    }

    .navButtons--show {
      @include set-x-position();
    }
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header {
  height: 80vh;

  .header__background {
    position: inline;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
  }

  .header__background--show {
    opacity: 0.5;
  }

  .header__background img {
    height: 100%;
    width: 100%;
    /* https://www.pexels.com/photo/backwash-chairs-in-modern-beauty-salon-7195805/ */
  }

  .header__info {
    position: absolute;
    top: 0;
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    &--display {
      width: 70%;
      height: 70%;
      padding-top: 15%;
      padding-left: 5%;
      background-color: rgba($color: black, $alpha: 0.4);
      border-radius: 3rem;
      transform: translateY(-300px);
      opacity: 0;
      border: 3px solid $accent-color;

      & * {
        margin: 1rem 0;
        font-family: "Dosis";
        transform: translateX(-50px);
        opacity: 0;
      }

      &--content--show {
        @include set-x-position();
      }

      & button {
        width: 9rem;
        height: 3rem;
        background-color: $accent-color;
        color: $text-color;
        font-size: 1.25rem;
        border: none;
        border-bottom: 2px solid white;
        border-radius: 10px;
      }

      & button:hover {
        opacity: 0.6;
        transition: 0s;
        cursor: pointer;
      }
    }

    &--display--show {
      @include set-y-position();
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .header__background--show {
    transition: 3s;
  }

  .header__info--display--show {
    transition: 1s;
  }

  .header__info--display--content--show {
    transition: 2s;
  }

  .navButtons--show {
    transition: 1s;
  }
}
